.sidebar {
    width: 260px;
    z-index: 1000;
    transition: all 0.3s;
}

.sidebar .nav-link {
    transition: all 0.2s ease;
    border-radius: 8px;
}

.sidebar i {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .sidebar {
        width: 80px;
    }

    .sidebar span {
        display: none;
    }

    .sidebar .p-4 h2 {
        text-align: center;
        font-size: 1.2rem;
    }

    .sidebar .nav-link {
        justify-content: center;
        padding: 0.8rem;
    }
}